---
import Basics from "@/components/form/Basics.astro";
import Location from "@/components/form/Location.astro";
import RenderCards from "@/components/form/RenderCards";
import "@/styles/main.css";
---

<div class="p-4 flow" id="form">
    <Basics />
    <Location />
    <RenderCards
        componentName={"ProfileCard"}
        legend={"Profiles"}
        formID={"profiles"}
        client:load
    />
    <RenderCards
        componentName={"WorkCard"}
        legend={"Work Experience"}
        formID={"work"}
        client:load
    />
    <RenderCards
        componentName={"VolunteerCard"}
        legend={"Volunteers"}
        formID={"volunteer"}
        client:load
    />
    <RenderCards
        componentName={"EducationCard"}
        legend={"Education"}
        formID={"education"}
        client:load
    />
    <RenderCards
        componentName={"AwardCard"}
        legend={"Awards"}
        formID={"awards"}
        client:load
    />
    <RenderCards
        componentName={"CertificateCard"}
        legend={"Certificates"}
        formID={"certificates"}
        client:load
    />
    <RenderCards
        componentName={"PublicationCard"}
        legend={"Publications"}
        formID={"publications"}
        client:load
    />
    <RenderCards
        componentName={"SkillCard"}
        legend={"Skills"}
        formID={"skills"}
        client:load
    />
    <RenderCards
        componentName={"LanguageCard"}
        legend={"Languages"}
        formID={"languages"}
        client:load
    />
    <RenderCards
        componentName={"InterestCard"}
        legend={"Interests"}
        formID={"interests"}
        client:load
    />
    <RenderCards
        componentName={"ReferenceCard"}
        legend={"References"}
        formID={"references"}
        client:load
    />
    <RenderCards
        componentName={"ProjectCard"}
        legend={"Projects"}
        formID={"projects"}
        client:load
    />
</div>
