---
import BasicsForm from "@/components/form/BasicsForm";
import LocationForm from "@/components/form/LocationForm";
import RenderCards from "@/components/form/RenderCards";
import "@/styles/main.css";
---

<div class="p-4 flow" id="form">
    <BasicsForm client:load />
    <LocationForm client:load />
    <RenderCards
        componentName={"ProfileForm"}
        legend={"Profiles"}
        formID={"profiles"}
        client:load
    />
    <RenderCards
        componentName={"WorkForm"}
        legend={"Work Experience"}
        formID={"work"}
        client:load
    />
    <RenderCards
        componentName={"VolunteerForm"}
        legend={"Volunteers"}
        formID={"volunteer"}
        client:load
    />
    <RenderCards
        componentName={"EducationForm"}
        legend={"Education"}
        formID={"education"}
        client:load
    />
    <RenderCards
        componentName={"AwardForm"}
        legend={"Awards"}
        formID={"awards"}
        client:load
    />
    <RenderCards
        componentName={"CertificateForm"}
        legend={"Certificates"}
        formID={"certificates"}
        client:load
    />
    <RenderCards
        componentName={"PublicationForm"}
        legend={"Publications"}
        formID={"publications"}
        client:load
    />
    <RenderCards
        componentName={"SkillForm"}
        legend={"Skills"}
        formID={"skills"}
        client:load
    />
    <RenderCards
        componentName={"LanguageForm"}
        legend={"Languages"}
        formID={"languages"}
        client:load
    />
    <RenderCards
        componentName={"InterestForm"}
        legend={"Interests"}
        formID={"interests"}
        client:load
    />
    <RenderCards
        componentName={"ReferenceForm"}
        legend={"References"}
        formID={"references"}
        client:load
    />
    <RenderCards
        componentName={"ProjectForm"}
        legend={"Projects"}
        formID={"projects"}
        client:load
    />
</div>
