---
import Basics from "@/components/form/Basics.astro";
import Location from "@/components/form/Location.astro";
import Profile from "@/components/form/Profile";
import Volunteer from "@/components/form/Volunteer";
import Work from "@/components/form/Work";
import "@/styles/main.css";
---

<div class="p-4 flow" id="form">
    <Basics />
    <Location />
    <Profile client:load />
    <Work client:load />
    <Volunteer client:load />
</div>
