---
import Basics from "@/components/form/Basics.astro";
import Profiles from "@/components/form/Profiles";
import "@/styles/main.css";
---

<form class="p-4 flow" id="form" name="form">
    <Basics />
    <Profiles client:load />
</form>
