---
import FormPanel from "@/components/FormPanel";
import Panel from "@/components/Panel.astro";
import PreviewPanel from "@/components/PreviewPanel";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Resume Builder</title>
	</head>
	<body>
		<div class="md:grid md:grid-cols-2 h-screen">
			<Panel printHidden=true>
				<FormPanel client:load />
			</Panel>
			<Panel printNotOverflow=true>
				<PreviewPanel client:load />
			</Panel>
		</div>
	</body>
</html>
