---
import Panel from "@/components/Panel.astro";
import Form from "@/components/form/Form.astro";
//import Template from "@/components/preview/Template";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Resume Builder</title>
	</head>
	<body>
		<div class="grid grid-cols-2 h-screen">
			<Panel>
				<Form />
			</Panel>
			<!-- <Panel>
				<Template client:only="solid-js" />
			</Panel> -->
		</div>
	</body>
</html>
